<div id="<%= dom_id pin %>">
  <p>
    <strong>ID:</strong>
    <%= pin.id %> |

    <strong>Title:</strong>
    <%= pin.title %> |

    <strong>Caption:</strong>
    <%= pin.caption %> |
    
    <strong>Create:</strong>
    <%= pin.created_at %> |

    <strong>Updated:</strong>
    <%= pin.updated_at %> | <%= link_to "Show this pin", pin %>
  </p>

</div>
